# Copy this file to .env and then replace the values with your actual values.
# Be sure not to check in your private key into github!
PRIVATE_KEY = 0xPRIVATE_KEY_HEX
WEB3_INFURA_PROJECT_ID = INFURA_ID

