live:
  - name: Ethereum
    networks:
      - name: Sepolia (Infura)
        chainid: 31
        id: sepolia
        host: https://ethereum-sepolia-rpc.publicnode.com
        explorer: https://api-sepolia.etherscan.io/api
